<div class="navbar">
    <div class="logo">
        <h1>Library</h1>
    </div>

    <div class="nav__links">
        <a href="/library" class="<%= path==='/library' ?'active':'' %> nav__link">Library</a>
        <a href="/cart" class="<%= path==='/cart' ?'active':'' %> nav__link">Cart</a>
        <a href="/loaned" class="<%= path==='/loaned' ?'active':'' %> nav__link">Loaned books</a>
        <a href="/admin/addbook" class="<%= path==='/admin/addbook' ?'active':'' %> nav__link">Add books</a>
        <a href="/admin/adminbooks" class="<%= path==='/admin/adminbooks' ?'active':'' %> nav__link">Admin books</a>
    </div>
</div>